@using static eAgenda.WebApp.Models.FormularioContatoViewModel
@model CadastrarContatoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Contato";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Cadastrar" method="post">
                    <h3>Formulário de Cadastro</h3>

                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Nome" class="control-label fs-5">Nome:</label>
                        <input asp-for="Nome" class="form-control" value="@Model.Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Email" class="control-label fs-5">Email:</label>
                        <input asp-for="Email" class="form-control" value="@Model.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Telefone" class="control-label fs-5">Telefone:</label>
                        <input asp-for="Telefone" class="form-control" value="@Model.Telefone" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Cargo" class="control-label fs-5">Cargo(opcional):</label>
                        <input asp-for="Cargo" class="form-control" value="@Model.Cargo" />
                    </div>
                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Empresa" class="control-label fs-5">Empresa(opcional):</label>
                        <input asp-for="Empresa" class="form-control" value="@Model.Empresa" />
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end mt-5 gap-3">
                        <a href="/contatos">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}