@using static eAgenda.WebApp.Models.FormularioTarefaViewModel
@model DetalhesTarefaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes da Tarefa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">

        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes da Tarefa</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Título:</label>
                    <input class="form-control" value="@Model.Titulo" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Prioridade:</label>
                    <input class="form-control" value="@Model.Prioridade" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Data de Criação:</label>
                    <input class="form-control" value="@Model.DataCriacao.ToString("dd/MM/yyyy")" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Data de Conclusão:</label>
                    <input class="form-control" value="@(Model.DataConclusao == DateTime.MinValue ? "Pendente" : Model.DataConclusao.ToString("dd/MM/yyyy"))" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Status:</label>
                    <input class="form-control" value="@Model.StatusConcluida" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="fs-5">Percentual Concluído:</label>
                    <input class="form-control" value="@Model.PercentualConcluida%" readonly disabled />
                </div>

                <h5 class="mt-4">Itens da Tarefa</h5>
                <ul class="list-group mt-2">
                    @foreach (var item in Model.Itens)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @item.Titulo
                            <span class="badge bg-@(item.StatusConclusao == "Concluído" ? "success" : "warning")">
                                @item.StatusConclusao
                            </span>
                        </li>
                    }
                </ul>

                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-3">
                    <a href="/tarefas">Voltar para a listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>